/**
 * @file
 * Custom CSS for the AdvAgg Replace admin pages.
 */

.search-string {
  width: 150px;
}

.search-default {
  width: 250px;
}

.search-help {
  height: 50px;
}

#advagg-replace-replacements-form .form-text {
  width: 250px;
}

#advagg-replace-replacements-form .replace-revert {
  border: 2px solid transparent;
}
#advagg-replace-replacements-form .replace-revert:hover {
  border: 2px solid red;
}
